/* 
  .Fine-beach-sand-in-the-summer-sun-1-hex { color: #D9AA55; }
  .Fine-beach-sand-in-the-summer-sun-2-hex { color: #D9B88F; }
  .Fine-beach-sand-in-the-summer-sun-3-hex { color: #F2D5BB; }
  .Fine-beach-sand-in-the-summer-sun-4-hex { color: #594B43; }
  .Fine-beach-sand-in-the-summer-sun-5-hex { color: #D9BDAD; }

  odyssey
    primary  #e38a20 => white
    surface1 #ffecd9 => #5e4536
    surface2 #6a4d34 => white
*/

html {
  background-color: #ffecd9;
}

.App {
  text-align: center;
  width: 300px;
  height: 400px;
  background-color: #ffecd9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffecd9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="text"] {
  width: 80%;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 2px solid #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  border: 2px solid #5e4536;
}

input[type="password"] {
  width: 80%;
  padding: 6px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 2px solid #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="password"]:focus {
  border: 2px solid #5e4536;
}

.button {
  background-color: #ffecd9; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-login {
  background-color: white;
  color: black;
  border: 2px solid #5e4536;
}

.button-login:hover {
  background-color: #5e4536;
  color: white;
}

.button-save {
  background-color: white;
  color: black;
  border: 2px solid #5e4536;
}

.button-save:hover {
  background-color: #5e4536;
  color: white;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
